.header {
  padding: 0 32px;
  margin-bottom: 16px;
  border-bottom: 1px solid #e4e5e7;
  background: #fff;
  display: flex;
  height: 80px;
  align-items: center;
}

.header .logo {
  margin-right: 32px;
  margin-bottom: 4px;
}

.header .nav-item {
  padding: 0 16px;
  color: #7a7d85;
  font-weight: 600;
  font-size: 16px;
}
